$primary-color: #FCDB65; // Yellow
$secondary-color: #45BED8; // Blue
$light-font-color: #FFFFFF; // White
$dark-font-color: #296476; // Blue

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Indie Flower', cursive;

  #nav-toggler {
    position: absolute;
    top: 1vw;
    right: 2vw;
    color: $light-font-color;
    z-index: 1000;
    font-size: 1.5vw;
    cursor: pointer;
  }

  header {
    position: absolute;
    top: 0;
    right: -12vw;
    text-align: left;
    height: 100vh;
    background-color: $secondary-color;
    z-index: 999;
    padding-top: 3vw;
    width: 12vw;
    transition: right 0.5s ease-in;

    &.active {
      right: 0;
    }

    a {
      background-color: $secondary-color;
      color: $light-font-color;
      display: block;
      font-size: 1.2vw;
      padding: 0.5em 2em;
      text-decoration: none;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: darken($secondary-color, 10%);
        padding: 0.5em 1.5em;
      }
    }
  }

  #pic-container {
    background-color: $secondary-color;
    height: 100vh;
    color: $light-font-color;
    text-align: center;

    img {
      max-width: 50%;
      max-height: 50%;
    }

    .caption {
      font-size: 1.4vw;
    }
  }

  #ramp {
    background-image: url('../images/home/ramp.png');
    background-size: 100% 100%;
    height: 100vh;
  }

  #intro {
    background-color: $primary-color;
    color: #296476;
    height: 100vh;


    h1 {
      font-size: 3vw;
    }

    p {
      font-size: 1.2vw;
    }

    .vcenter a {
      font-size: 1.2vw;
      color: $dark-font-color;
      border: 1px solid $dark-font-color;
      border-radius: 4px;
      text-decoration: none;
      padding: 0.5em 1.5em;
      display: inline-block;
      margin-top: 1em;
      transition: all 0.3s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.1)
      }
    }
  }
}