$primary-color: #FCDB65; // Yellow
$secondary-color: #45BED8; // Blue
$light-font-color: #FFFFFF; // White
$dark-font-color: #296476; // Blue

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#home {
  #pic-container {
    background-color: $secondary-color;
    height: 100vh;
    font-family: 'Indie Flower', cursive;
    color: $light-font-color;
    text-align: center;

    img {
      max-width: 50%;
      max-height: 50%;
    }

    .caption {
      font-size: 1.2vw;
    }
  }

  #ramp {
    background-image: url('../images/home/ramp.png');
    background-size: 100% 100%;
    height: 100vh;
  }

  #intro {
    font-family: 'Indie Flower', cursive;
    background-color: $primary-color;
    color: #296476;
    height: 100vh;

    header {
      text-align: right;
      margin: 2em 4em 0 0;
      a {
        background-color: $secondary-color;
        color: $light-font-color;
        display: inline-block;
        font-size: 0.9vw;
        padding: 0.5em 1.5em;
        border-radius: 50%;
        margin-left: 1.5em;
        text-decoration: none;
        transition: all 0.3s ease-in;

        &:hover {
          background-color: lighter($secondary-color, 10%);
          transform: scale(1.2);
        }
      }
    }

    h1 {
      font-size: 3vw;
    }

    p {
      font-size: 1.2vw;
    }

    .vcenter a {
      font-size: 1.2vw;
      color: $dark-font-color;
      border: 1px solid $dark-font-color;
      border-radius: 4px;
      text-decoration: none;
      padding: 0.5em 1.5em;
      display: inline-block;
      margin-top: 1em;
      transition: all 0.3s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.1)
      }
    }
  }
}